#burger {
    position:absolute;
    top:0;
    right:0;
}

button {
    padding-left:auto;
    padding-right:auto;
}

#menu {
    position:absolute;
    width:75%;
    height:50%;
    background:black;
    left:12.5%;
    top:25%;
    opacity: 0.9;
    padding-top:10px;
}